<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>932017021189-nbt0kas9nn6oo5qt6qm4db0ef6ju8583.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932017021189-nbt0kas9nn6oo5qt6qm4db0ef6ju8583</string>
	<key>API_KEY</key>
	<string>AIzaSyAk47Lz_xcqA0Vw88a8cRVaXzAPq6tZ6sY</string>
	<key>GCM_SENDER_ID</key>
	<string>932017021189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kutan.LeanTrack</string>
	<key>PROJECT_ID</key>
	<string>leantrack-d3528</string>
	<key>STORAGE_BUCKET</key>
	<string>leantrack-d3528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932017021189:ios:e7adabe3e07b4418</string>
	<key>DATABASE_URL</key>
	<string>https://leantrack-d3528.firebaseio.com</string>
</dict>
</plist>